
<nav>
    <ul>
      <li> <a href="./pagina3.html"> <img src="../imagini/icon.png" alt="jolly roger icon"> </a></li>
        <li> <a href="#wikipedia"> overview </a> </li>
        <li> <a href="#cast"> cast </a> </li>
        <li> <a href="#teme"> themes </a> </li>
        <li class="dd"> other pages </a> 
        <div class="dd_content"> 
            <a href="./login.html"> login </a> 
            <a href="./pagina3.html"> pirates history </a>
            <a href="./pagina4.html"> pictures & game</a>
            <a href="./altceva.html"> survey</a>
        </div>
        </li>
        <li> <a href="./altceva.html"> survey </a>  </li>
    </ul>
    
</nav>
